exercise-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

exercise-view .filter {
    margin-left: 10px;
}

exercise-view .content {
    height: 100%;
}

exercise-view .grid-wrapper {
    width: 100%;
}

exercise-view .form {
    width: 25em;
    padding: 10px;
}

exercise-view vaadin-grid {
    height: 100%;
}

exercise-view .form-button-panel, .grid-button-panel {
    width: 100%;
    justify-content: flex-end;
}

/*https://www.w3schools.com/howto/howto_css_overlay.asp*/
exercise-view .plus-button {
    float: right;
    position: fixed ; /* Sit on top of the page content */
    top: 95%;
    margin-right: 10px;
    margin-left: auto;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

