program-view .content {
    height: 100%;
}

program-view .grid-wrapper {
    width: 100%;
}

program-view .form {
    /*width: 50em;*/
    width: 100%;
}

program-view .form-button-panel, .grid-button-panel {
    width: 100%;
    justify-content: flex-end;
}

