round-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

round-view vaadin-grid {
    height: 100%;
}

round-view round-details {
    height: 100%;
}

round-view .grid-wrapper {
    width: 100%;
}
