round-view {
    overflow: hidden;
}

round-view .filter-grid {

}

round-view .content {
}

round-view vaadin-grid {
    height: 100%;
}

round-view .button-layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--lumo-space-s);
    padding-top: var(--lumo-space-s);
    padding-left: var(--lumo-space-l);
    padding-right: var(--lumo-space-l);
    gap: var(--lumo-space-m);
}


round-view round-form {
    width: 25em;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--lumo-space-s);
}

round-view round-form .editor,
round-view round-form .exercise-selector,
round-view round-form .station-edit-form,
round-view round-form .edit-round-form {
    height: 100%;
    width: 100%;
}

