workout-view .content {
    height: 100%;
}

workout-view .grid-wrapper {
    width: 100%;
}

workout-view .form {
    /*width: 50em;*/
    width: 100%;
}

workout-view .form-button-panel, .grid-button-panel {
    width: 100%;
    justify-content: flex-end;
}

